%p
  Welcome to the Pioneer Valley raffle notifier app #{@user.name}!
  %br/
  Thanks for using this application.  Please feel free to email me at #{mail_to('mike.varrieur@gmail.com')} if you have any questions.

%p
  %strong
    Note: This site is in no way affiliated with Pioneer Valley or their raffle.  This site is provided only as a service and convenience.  If you get notified, please check that your raffle ticket actually matches the Massachusetts Evening Numbers Game and verify with Pioneer Valley that you have won.