%p
  Welcome to the Holbrook raffle notifier app #{@user.name}!
  %br/
  Thanks for using this application.  Please feel free to message me on #{link_to 'Northeastshooters.com', 'http://www.northeastshooters.com/'} if you have any questions.  My username is mivv

%p
  %strong
    Note: This site is in no way affiliated with Holbrook Sportsmen's Club or their raffle.  This site is provided only as a service and convenience.  If you get notified, please check that your raffle ticket actually matches the Massachusetts Mid-Day Numbers Game and verify with Holbrook that you have won.