%p
  #{@user.name},
  %br/
  Your pick: #{@lottery_number.winning_number} matches today's Mid-Day Numbers Game drawing!

-if !@gun.nil?
  %p
    The gun for today's drawing is the <strong>#{@gun.gun_description}</strong> valued at <strong>#{number_to_currency(@gun.value, unit: '$')}</strong>.

%p
  %strong
    Note: This site is in no way affiliated with Holbrook Sportsmen's Club or their raffle.  This win is not guaranteed.  This site is provided only as a service and convenience.  Please check that your raffle ticket actually matches the Massachusetts Mid-Day Numbers Game and verify with Holbrook that you have won.