%h1 Listing All Drawings

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Winning number
      %th Draw date
      %th Next draw
      
  %tbody
    - @lottery_numbers.each do |lottery_number|
      %tr
        %td= lottery_number.winning_number
        %td= lottery_number.draw_date
        %td= lottery_number.next_draw

= will_paginate @lottery_numbers