:markdown
  #Pioneer Valley Raffle Notifier Utility

  ###Instructions
    1. #{link_to 'Register', new_user_registration_path} or #{link_to 'Sign In', new_user_session_path}
    2. #{link_to 'Add your picks', picks_path}
    3. ...
    4. Profit!

  I created this as a tool for myself to get an email if my raffle numbers ever match up and I win, because I probably won't have the time to check the numbers every day as soon as they are picked.  Then I figured I'd make it a little easier to use and release it for temporary use to the forum.  Please let me know if you find any bugs you can email me at #{mail_to('mike.varrieur@gmail.com')}.

  It grabs the winning numbers from the MA Numbers Game RSS feed located here:  
    [Site](http://www.masslottery.com/games/lottery/numbers-game.html) /
    [RSS/XML](http://www.masslottery.com/data/rss/masslottery_nb.xml)

  It then checks to see if any users have a "pick" that matches the last three digits and sends them an email notification.

  Please feel free to view the source code for the application here:  
    [https://github.com/mvarrieur/lottery-notifier](https://github.com/mvarrieur/lottery-notifier)

  **Good luck!**